.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: hotpink;
  font-size: xxx-large;
}

img {
  height: 200px;
  margin: auto;
}

.btn {
  margin: 20px auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: plum;
  color: black;
}

.btn:hover {
  cursor: pointer;
  background-color: purple;
  color: white;
}

#giphy {
  height: 100px;
}

